<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/plugins/layer/layer.min.js}"></script>
    <script th:src="@{/js/hplus.js}"></script>
    <script th:src="@{/js/contabs.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    <script th:src="@{/js/plugins/nestable/jquery.nestable.js}"></script>
    <script th:src="@{/js/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <script th:src="@{/js/plugins/fullcalendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.min.js}"></script>
    <script th:src="@{/js/welcome.js}"></script>
    <script th:src="@{/js/content.js}"></script>
</div>
</html>